*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}



.cartCard {
  display: column;
  text-align-last: center;
  /*outline: 10px solid #5b79a2;*/
  box-shadow: 6px 10px 5px 12px darkgrey;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.panel{
  text-align: center;
}

.containerDesign{
  border: 1px solid black;
  border-radius: 6px;


 /* background-color: #2a6592;
  border: 2px solid black;
  border-radius: 6px;*/

}

.title {
  text-decoration: underline;
}


.priceText {
  text-decoration: underline;
}

.cards{
  border-radius: 6px;
}

.homeView{
  border-radius: 6px;
  text-align-last: right;
  background-image: url(https://images.pexels.com/photos/5311639/pexels-photo-5311639.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
}


#cartTable {

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#cartTable td, #cartTable th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 20%;
}

#cartTable tr:nth-child(even){background-color: #f2f2f2;}

#cartTable tr:hover {background-color: #ddd;}

#cartTable th {

  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #555154;
  color: white;
}

.tableText {

  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #555154;
  color: white;
}

.tableCenter{
  text-align: center;
}

